@media only screen and (max-width: 639px) {
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .facebook,
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .follow {
		margin: 0 16px 40px 16px;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .apply {
		margin: 0 16px;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom span {
		margin: 38px 0 14px;
		padding: 0 16px;
		color: #dd2713;
		font-size: 1.3em;
		font-weight: bold;
		text-align: left;
	}
}
