.main-inner {
	background: url(/assets/img/special/child_development_support/bg_dot.png) repeat;
	background-size: 3.1%;
}

.main-img {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.main-img::before {
	content: '';
	display: block;
	position: absolute;
	width: 635px;
	height: 134px;
	right: 0;
	top: 50px;
	background: url(/assets/img/special/child_development_support/ttl_ribbon.png) no-repeat;
	background-size: 100%;
	opacity: 0;
	animation-name: ribbon-ttl;
	animation-duration: 7s;
	animation-fill-mode: forwards;
}
@keyframes ribbon-ttl {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.pc-ttl {
	right: 80px;
	top: 150px;
}

.pc-ttl,
.sp-ttl {
	position: absolute;
	opacity: 0;
	animation-name: ribbon-ttl;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}
@keyframes ribbon-ttl {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media only screen and (max-width: 767px) {
	.main {
		width: 100%;
		background-image: url(/assets/img/special/summer/img-main_cloud_sp.png), url(/assets/img/special/summer/img-mainbg_sp.png);
		background-size: cover;
		background-position: top;
	}
	.main-img {
		width: 100%;
	}
	.main-img img {
		width: 100%;
	}
	.sp-ttlbg {
		padding: 5% 0;
	}

	.main-img .sp-ttl {
		width: 84%;
		top: 28%;
		right: 7.5%;
	}
	.main-img::before {
		width: 84%;
		height: 10vh;
		right: 8%;
		top: 14%;
	}
}

/* CTA
---------------------------------------------------------------------------- */

.btn_area {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	font-weight: bold;
	line-height: 1;
	text-align: center;
}

.btn_entry {
	font-size: 25px;
}

.btn_entry a {
	padding: 25px 130px;
}

.btn_job_entry {
	width: 100%;
	background-color: #ff718e;
	border: 1px solid #4a4a4a;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.41);
	font-size: 20px;
	box-sizing: border-box;
}

.btn_float_entry {
	width: 640px;
	background-color: #ff718e;
	border: 3px solid #4a4a4a;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.41);
	font-size: 20px;
	box-sizing: border-box;
}

.btn_entry,
.btn_job_entry,
.btn_float_entry {
	display: inline-block;
	vertical-align: middle;
	border-radius: 100px;
	text-align: center;
}

.btn_job_entry {
	border-radius: 10px;
}

.btn_float_entry,
.btn_float_entry {
	height: 65px;
}

.btn_job_entry {
	height: 45px;
}

.btn_float_entry a {
	padding: 20px 0;
}

.btn_job_entry a {
	padding: 13px 0;
	font-size: 18px;
}

.btn_job_entry a,
.btn_float_entry a {
	display: block;
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	font-weight: bold;
}

.btn_job_entry a::before,
.btn_float_entry a::before {
	display: block;
	position: absolute;
	z-index: -1;
	left: -30%;
	top: -50%;
	content: '';
	width: 30px;
	height: 115px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
	animation: shiny 3s infinite linear;
	-webkit-animation: shiny 3s infinite linear;
	-moz-animation: shiny 3s infinite linear;
}

/* .btn_entry a::after, */
.btn_job_entry a::after,
.btn_float_entry a::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	margin-top: -5px;
	border: 5px solid transparent;
	border-left: 5px solid #fff;
}

.btn_entry:hover,
.btn_job_entry:hover,
.btn_float_entry:hover {
	transition-duration: 0.3s;
	opacity: 0.7;
	transition-delay: 0.6s;
}

.btn_entry_l {
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #fff;
	border-radius: 40px;
	padding: calc(1.5rem - 12px) 3rem 1.5rem;
	background: #ff718e;
}
.btn_entry_l:before {
	position: absolute;
	top: -6px;
	left: -6px;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 3px solid #000;
	border-radius: 40px;
}

.btn_entry_l:hover:before {
	top: 0;
	left: 0;
}

.btn_entry_l:hover {
	padding: 25px 130px;
}

.sub_txt {
	position: absolute;
	left: 20px;
	font-size: 14px;
	background-color: #74e1eb;
	padding: 10px;
	border-radius: 35px;
	top: 19px;
}

.btn_entry a::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	right: 35px;
	width: 0;
	height: 0;
	margin-top: -8px;
	border: 7px solid transparent;
	border-left: 7px solid #ffffff;
}

@media only screen and (max-width: 767px) {
	.btn_float_entry {
		width: 80%;
		font-size: 5vw;
		height: auto;
	}
	.btn_float_entry a {
		padding: 3% 0 4%;
	}
	.btn_float_entry span {
		color: #fff;
		font-size: 3.5vw;
		line-height: 2;
	}
}

@keyframes shiny {
	0% {
		left: -50%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}

@-webkit-keyframes shiny {
	0% {
		left: -50%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}

@-moz-keyframes shiny {
	0% {
		left: -50%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}

/* contents
---------------------------------------------------------------------------- */

.content {
	background-color: #fffb;
}
.content_ttl {
	margin: 0 auto;
}
.content_ttl h2 {
	margin: 0 auto 35px;
}

.content_ttl h2 img {
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.content_icon {
		margin: 0 auto 3%;
	}
	.content_ttl h2 {
		margin-bottom: 5%;
	}
}

/* section-merit
---------------------------------------------------------------------------- */
.merit {
	-webkit-animation: bgcloudroop 50s linear infinite;
	animation: bgcloudroop 50s linear infinite;
}
.inner_merit {
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 25px;
}
.inner_merit h2 {
	width: 85%;
}
.merit .inner_merit .content_ttl {
	width: 80%;
}
.merit .inner_merit .content_ttl .merit_icon {
	margin: 0 auto;
	display: block;
	width: 70px;
	height: auto;
}
.merit ul {
	text-align: center;
	vertical-align: top;
}
.merit ul li {
	text-align: center;
	vertical-align: top;
	padding-right: 0;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	z-index: 3;
}
.merit ul li.cds-merit01::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_merit-txt.png) no-repeat, url(/assets/img/special/child_development_support/bg_bl.png) no-repeat;
	width: 520px;
	height: 300px;
	background-size: contain;
	z-index: -1;
	top: -50px;
	left: -140px;
}
.merit ul li.cds-merit02::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_rd.png) no-repeat;
	width: 287px;
	height: 230px;
	background-size: contain;
	z-index: -1;
	top: 0px;
	right: -110px;
}
.merit ul li.cds-merit03::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_yl.png) no-repeat;
	width: 360px;
	height: 290px;
	background-size: contain;
	z-index: -1;
	top: 80px;
	left: -110px;
}
.cds-merit01 .cds-meritttl01 {
	width: 80%;
	margin: 0 auto;
}
.cds-merit02 .cds-meritttl02 {
	width: 60%;
	margin: 0 auto;
}
.cds-merit03 .cds-meritttl03 {
	width: 55%;
	margin: 0 auto;
}

.pc-img-merit {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
}

.merit ul li .txt-block {
	display: inline-block;
	width: 68%;
	vertical-align: middle;
}
.merit ul li .txt-block .txt {
	vertical-align: middle;
}

.merit ul li .txt {
	line-height: 2;
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.merit ul li img {
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.merit .inner_merit .content_ttl {
		width: 100%;
	}
	.inner_merit h2 {
		width: 90%;
	}
	.merit .inner_merit .content_ttl .merit_icon {
		width: 17%;
	}
	.merit ul li.cds-merit01::before {
		width: 100%;
		height: 20vh;
		left: -10%;
		top: -8%;
		background-size: 70%, contain;
	}
	.merit .inner_merit {
		padding: 6% 4% 2%;
		background-color: rgba(255, 255, 255, 0.3);
	}

	.merit ul {
		padding-top: 5%;
	}

	.merit ul li {
		text-align: center;
		vertical-align: top;
		padding-right: 0;
	}

	.merit ul li img,
	.cds-merit01 .cds-meritttl01 {
		width: 100%;
	}
	.cds-merit02 .cds-meritttl02 {
		width: 74%;
	}
	.cds-merit03 .cds-meritttl03 {
		width: 65%;
	}

	.img-merit {
		width: 50%;
	}

	.merit ul li .txt-block {
		display: inline-block;
		width: 49%;
		margin-left: 1%;
	}

	.merit ul li .txt {
		width: 100%;
		line-height: 2;
		font-size: 3.5vw;
		margin: 0;
		text-align: left;
	}

	.btm-cldimg img {
		width: 100%;
		padding-top: 5%;
	}

	.merit ul li.cds-merit03::before {
		width: 85%;
		height: 35vh;
		left: -30%;
		top: 20%;
	}
	.merit ul li.cds-merit02::before {
		width: 80%;
		height: 34vh;
		right: -30%;
		top: 0;
	}
}

/* section-joboffer
---------------------------------------------------------------------------- */
.joboffer {
	background-color: #fef4f4;
	margin-top: 16px;
}

.joboffer .inner .content_ttl h2 {
	width: 70%;
	position: relative;
	z-index: 0;
}
.joboffer .inner .content_ttl h2::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_joboffer-txt.png) no-repeat;
	width: 500px;
	height: 126px;
	background-size: contain;
	top: 20px;
	right: -200px;
	z-index: -2;
}

.joboffer .jobofferlist .swiper-slide {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	box-sizing: border-box;
	margin-bottom: 1%;
	border-radius: 10px;
	border: solid 1px #443636;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.joboffer .jobofferlist .swiper-slide_a {
	background: #f2ded8;
}

.joboffer .jobofferlist .swiper-slide_b {
	background: #f7f7e5;
}

.joboffer .jobofferlist .swiper-slide:last-child {
	margin-right: 0;
}

.joboffer .jobofferlist .swiper-slide h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: dashed 1px #786a5b;
	padding: 10px;
	line-height: 1.2;
	color: #443636;
}

.joboffer .jobofferlist .swiper-slide img {
	width: 100%;
	border: solid 3px #fff;
	border-radius: 5px;
}

.joboffer .jobofferlist .swiper-slide .detail {
	padding: 20px;
}

.joboffer .jobofferlist .swiper-slide .tag,
.joboffer .jobofferlist .swiper-slide .tag-02 {
	display: inline-block;
	padding: 5px 10px;
	background-color: #fff;
	border: solid 2px #4a4a4a;
	color: #d47c6c;
	font-weight: bold;
	border-radius: 3px;
	margin: 10px 0;
	width: auto;
	text-align: center;
}
.joboffer .jobofferlist .swiper-slide .tag-02 {
	color: #7da8aa;
}
.joboffer .jobofferlist .swiper-slide .tag {
	margin-right: 5px;
}

.joboffer .jobofferlist .swiper-slide .salary {
	margin-bottom: 10px;
	position: relative;
	padding-left: 25px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #5f5f5f;
	letter-spacing: -1px;
	border-bottom: 1px dotted #4a4a4a;
}

.joboffer .jobofferlist .swiper-slide .salary::before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.joboffer .jobofferlist .swiper-slide .salary::before {
	background: url(/assets/img/special/child_development_support/yen.png) no-repeat;
	background-size: contain;
}

.joboffer .jobofferlist .swiper-slide .detail-txt {
	font-size: 14px;
	color: #4a4a4a;
	line-height: 1.5;
	margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
	.joboffer .inner .content_ttl h2 {
		width: 80%;
	}
	.joboffer .inner .content_ttl h2::before {
		width: 75vw;
		height: 11vh;
		top: 50%;
		right: -20%;
	}
	.joboffer .inner {
		padding: 5% 0 2%;
	}

	.joboffer .inner .content_ttl {
		padding-top: 5%;
	}

	.joboffer .jobofferlist .swiper-slide {
		width: 80%;
		margin-right: 1%;
	}

	.joboffer .jobofferlist .swiper-container {
		padding: 0 0 50px 0;
	}

	.joboffer .jobofferlist .swiper-pagination-bullet-active {
		color: rgba(219, 36, 31, 0.9);
	}

	.joboffer .jobofferlist .swiper-button-prev {
		background-image: url(/assets/img/special/summer/prev.png);
		background-size: contain;
		left: 0;
		top: 30%;
		display: block;
	}

	.joboffer .jobofferlist .swiper-button-next {
		background-image: url(/assets/img/special/summer/next.png);
		background-size: contain;
		right: 0;
		top: 30%;
		display: block;
	}

	.jobofferlist .swiper-button-prev,
	.jobofferlist .swiper-button-next {
		width: 11%;
		height: 46%;
		margin-top: -45px;
		z-index: 10;
		cursor: pointer;
	}

	.joboffer .jobofferlist .swiper-slide h3 {
		font-size: 4.6vw;
	}

	.joboffer .jobofferlist .swiper-slide .salary {
		font-size: 4.6vw;
	}

	.joboffer .jobofferlist .swiper-slide .detail-txt {
		font-size: 3.8vw;
	}

	.joboffer .jobofferlist .swiper-button-prev:after,
	.joboffer .jobofferlist .swiper-container-rtl .swiper-button-next:after,
	.joboffer .jobofferlist .swiper-button-next:after,
	.joboffer .jobofferlist .swiper-container-rtl .swiper-button-prev:after {
		content: 'none';
	}
}

@media only screen and (min-width: 768px) {
	.jobofferlist .swiper-wrapper {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.jobofferlist .swiper-slide {
		width: 32%;
	}
	.jobofferlist .swiper-button-prev,
	.jobofferlist .swiper-button-next,
	.jobofferlist .swiper-pagination {
		display: none;
	}
}

/* section-voice
---------------------------------------------------------------------------- */

.voice .inner {
	padding-bottom: 70px;
}

.voice .inner .content_icon {
	width: 70px;
}

.voice .inner .content_icon img {
	width: 100%;
}

.voice .inner .content_ttl h2 {
	width: 72%;
	position: relative;
	z-index: 0;
}
.voice .inner .content_ttl h2::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_voice-txt.png) no-repeat;
	width: 500px;
	height: 126px;
	background-size: contain;
	top: 20px;
	left: -150px;
	z-index: -2;
}

.voice .inner .content_icon {
	text-align: center;
	margin: 0 auto 5px;
}

.voice ul {
	margin-top: 45px;
}

.voice ul li {
	border-radius: 2px;
	width: 90%;
	padding: 15px;
	margin: 0 auto 50px auto;
	border-radius: 10px;
	position: relative;
}

.voice ul li.voice_box01 {
	border: 3px #dd9d91 solid;
	background-color: #fff;
}
.voice ul li.voice_box02 {
	border: 3px #d4cc84 solid;
}
.voice ul li.voice_box03 {
	border: 3px #a3bcbd solid;
}

.voice_ttl {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	position: relative;
}
.voice .voice_box01 .voice_ttl::before,
.voice .voice_box02 .voice_ttl::before,
.voice .voice_box03 .voice_ttl::before {
	display: block;
	position: absolute;
	width: 120px;
	height: 120px;
}
.voice .voice_box01 .voice_ttl::before {
	content: '';
	bottom: 0;
	left: -60px;
	background: url(/assets/img/special/child_development_support/img_voice01.png) no-repeat;
	background-size: contain;
}
.voice .voice_box02 .voice_ttl::before {
	content: '';
	bottom: 0;
	left: -60px;
	background: url(/assets/img/special/child_development_support/img_voice02.png) no-repeat;
	background-size: contain;
}
.voice .voice_box03 .voice_ttl::before {
	content: '';
	bottom: 0;
	left: -60px;
	background: url(/assets/img/special/child_development_support/img_voice03.png) no-repeat;
	background-size: contain;
}

.voice_ttl img {
	width: 75%;
	margin: 0 auto;
}

.voice_ttl .voice_text {
	margin: 0 0 0 30px;
	width: 200px;
	position: absolute;
	top: -75px;
	padding: 10px;
	border-radius: 30px;
	background-color: #ffffff;
	border: 1px rgb(229, 229, 229) solid;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.41);
}

.voice_ttl .voice_text ::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	left: -10px;
	top: 10px;
	border-right: 20px solid #ffffff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.voice ul li .profile {
	font-size: 18px;
	font-weight: bold;
	color: #7dd2d3;
	margin: 15px;
}

.voice ul li .txt {
	line-height: 2;
}
.voice ul li.voice_box01::after {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_rd.png) no-repeat;
	width: 287px;
	height: 230px;
	background-size: contain;
	z-index: -1;
	top: 0px;
	right: -110px;
}
.voice ul li.voice_box02::after {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_yl.png) no-repeat;
	width: 320px;
	height: 254px;
	background-size: contain;
	z-index: -1;
	top: -30px;
	left: -150px;
}
.voice ul li.voice_box03::after {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_bl.png) no-repeat;
	width: 377px;
	height: 209px;
	background-size: contain;
	z-index: -1;
	top: 50px;
	right: -110px;
}

@media only screen and (max-width: 767px) {
	.voice {
		padding: 2% 2% 0;
	}

	.voice .inner .content_ttl h2 {
		width: 90%;
	}

	.voice .inner .content_ttl h2::before {
		width: 60vw;
		height: 13vh;
		background-size: contain;
		top: 12vw;
		left: -11vw;
		z-index: -2;
	}

	.voice .inner {
		padding-bottom: 20%;
	}

	.voice ul {
		display: block;
	}

	.voice ul li {
		width: 100%;
		display: block;
		margin-bottom: 10%;
		margin-right: 0;
	}

	.voice_ttl img {
		width: 80%;
	}

	.voice_ttl .voice-icon_sp {
		width: 50%;
		margin: 0 auto;
		padding-bottom: 4%;
	}

	.voice .voice_box01 .voice_ttl::before,
	.voice .voice_box02 .voice_ttl::before,
	.voice .voice_box03 .voice_ttl::before {
		content: none;
	}

	.voice ul li.voice_box03::after {
		top: 260px;
	}

	.voice_ttl .voice_text {
		width: 90%;
	}
	.voice .inner::after {
		content: none;
	}
}

/* section-reason
---------------------------------------------------------------------------- */

.reason_wrap {
	background: #f0f8fb;
	-webkit-animation: bgsearoop 65s linear infinite;
	animation: bgsearoop 65s linear infinite;
}

@-webkit-keyframes bgsearoop {
	from {
		background-position: bottom 0;
	}
	to {
		background-position: -1956px bottom;
	}
}
@keyframes bgsearoop {
	from {
		background-position: bottom 0;
	}
	to {
		background-position: -1956px bottom;
	}
}

#reason .inner .content_ttl h2 {
	width: 40%;
	position: relative;
	z-index: 0;
}
#reason .inner .content_ttl h2::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_advantages-txt.png) no-repeat;
	width: 500px;
	height: 126px;
	background-size: contain;
	top: 20px;
	right: -300px;
	z-index: -2;
}

.reason_cont {
	padding-top: 10px;
}

.reason_cont_h3 {
	display: table;
	width: 100%;
	margin-bottom: 25px;
}

.reason_cont_h3 .img_wrap {
	display: table-cell;
	width: 25%;
}

.reason_cont_h3 .img_wrap img {
	width: 100%;
}

.reason_cont_h3 span {
	display: table-cell;
	width: 75%;
	padding-left: 15px;
	font-size: 130%;
	font-weight: bold;
	margin: 60px 0px 50px;
	color: #333;
	vertical-align: middle;
	text-align: left;
}

.reason_cont_h3 span:first-letter {
	font-size: 160%;
}

.reason_cont_inner {
	display: table;
	width: 100%;
	border-bottom: 1px solid #eee;
	margin-top: 40px;
}

.reason_cont_inner:first-child {
	margin-top: 0;
}

.reason_cont_inner:last-child {
	border-bottom: 0;
}

.reason_cont_wrap_left {
	display: table-cell;
	width: 55%;
	vertical-align: top;
}

.reason_cont_wrap p {
	line-height: 1.8;
	margin-bottom: 20px;
	font-size: 15px;
	color: #666;
}

.reason_cont_wrap {
	margin-bottom: 50px;
}

.reason_cont_wrap .adress {
	font-size: 1.2rem;
	font-weight: normal;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: dotted 2px #fa9023;
}

.reason_cont_wrap .adress dt {
	color: #ef6f42;
	display: inline-block;
	margin-left: -6px;
}

.reason_cont_wrap .access {
	font-size: 1.3rem;
	font-weight: normal;
}

.reason_cont_wrap .access dt {
	color: #ef6f42;
	display: inline-block;
	margin-left: -6px;
}

.reason_cont_wrap .access dd {
	line-height: 1.8;
}

.sub_menu_cont_img_wrap {
	display: table-cell;
	width: 45%;
	padding-left: 30px;
	vertical-align: middle;
}

.sub_menu_cont_img_wrap img {
	width: 100%;
}

.pc_wrap_cont_wrap {
	background: rgba(255, 255, 255, 0.8);
	padding: 50px 75px;
	margin-bottom: 30px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

@media only screen and (max-width: 767px) {
	#reason .inner .content_ttl h2 {
		width: 75%;
	}

	#reason .inner .content_ttl h2::before {
		width: 93vw;
		height: 10vh;
		background-size: contain;
		top: 5vw;
		left: -5vw;
		z-index: -2;
	}

	.pc_wrap_cont_wrap {
		padding: 4%;
		box-sizing: border-box;
		margin-bottom: 16%;
	}

	.reason_cont_wrap_left,
	.sub_menu_cont_img_wrap {
		display: block;
		width: 100%;
		padding: 0;
	}

	.reason_cont {
		padding-top: 10px;
	}

	.reason_cont_wrap {
		margin-bottom: 0;
	}
}

/* section-flow
---------------------------------------------------------------------------- */
#flow .inner .content_ttl h2 {
	width: 40%;
	position: relative;
	z-index: 0;
}
#flow .inner .content_ttl h2::before {
	content: '';
	position: absolute;
	background: url(/assets/img/special/child_development_support/bg_flow-txt.png) no-repeat;
	width: 500px;
	height: 126px;
	background-size: contain;
	top: 20px;
	left: -260px;
	z-index: -2;
}
.flow_wrap {
	padding-bottom: 25px;
	background: url(/lp/029/img/bg_container.gif);
}

.flow_wrap .pc_wrap {
	padding-bottom: 50px;
}

#flow h2.h2_pc {
	background: transparent;
	font-size: 180%;
	color: #ff7c8b;
	font-weight: bold;
	padding: 40px 0px 0px;
}

.kks-service-flow__body {
	margin-top: 40px;
	padding-bottom: 55px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}

.kks-service-flow__body:after {
	content: '';
	display: block;
	clear: both;
}

.kks-service-list__item {
	width: 23.0519480519%;
	position: relative;
	float: left;
	list-style: none;
}

.kks-service-item {
	padding: 0;
	margin: 0;
}

.kks-service-item__fig img {
	width: 60%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.kks-service-item__header {
	padding: 15px 0;
}

.kks-service-item__step {
	font-family: 'Roboto Condensed', 'Helvetica', ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #f28b53;
	font-size: 13px;
	letter-spacing: 3px;
	font-weight: 700;
}

.kks-service-item__step strong {
	font-family: 'Roboto Condensed', 'Helvetica', ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 22px;
	font-weight: bold;
}

.kks-service-item__txt {
	font-size: 18px;
	font-weight: 500;
}

.kks-service-item__lead {
	padding-top: 10px;
	border-top: 1px solid #cbcbcb;
	font-size: 14px;
	line-height: 1.7;
}

.kks-service-item__lead span {
	display: block;
	color: #f28b53;
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
}

.kks-service-list__item + .kks-service-list__item:before {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 62px;
	left: -17px;
	border-style: solid;
	border-width: 14px 0 14px 12px;
	border-color: transparent transparent transparent #f28b53;
	content: ' ';
}

.kks-service-list__item + .kks-service-list__item {
	margin-left: 2.5974025974%;
}

@media only screen and (max-width: 767px) {
	#flow .inner .content_ttl h2 {
		width: 85%;
		margin-top: 4%;
	}

	#flow .inner .content_ttl h2::before {
		top: 3vw;
		left: -10vw;
		z-index: -2;
		width: 41vw;
		height: 10vh;
	}

	.kks-service-flow__body {
		margin-top: 5%;
	}
}

/* section-present
---------------------------------------------------------------------------- */

.present_dtl {
	padding: 35px 20px 25px;
	background-color: #fff;
}

.present_top {
	margin-bottom: 10px;
}

.kks-benefits {
	position: relative;
	background-color: #fff;
	padding: 30px;
	border: 6px double #77cbbd;
	display: table;
	width: 100%;
	box-sizing: border-box;
}

.kks-benefits__content {
	width: 50%;
	display: table-cell;
	padding: 15px 15px 0px;
}

.kks-benefits__h {
	width: 480px;
	position: absolute;
	top: -23px;
	left: 45%;
	margin-left: -165px;
	background-color: #77cbbd;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 46px;
	text-align: center;
	vertical-align: middle;
}

.kks-benefits__h strong {
	color: #fff48a;
	font-size: 30px;
	vertical-align: middle;
	position: relative;
}

.kks-benefits__h:before,
.kks-benefits__h:after {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	left: -15px;
	z-index: 0;
}

.kks-benefits__h:before {
	width: 0;
	height: 0;
	top: 0;
	border-style: solid;
	border-width: 0px 15px 23px 0;
	border-color: transparent #77cbbd transparent transparent;
}

.kks-benefits__h:after {
	width: 0;
	height: 0;
	bottom: 0;
	border-style: solid;
	border-width: 23px 15px 0px 0;
	border-color: transparent #77cbbd transparent transparent;
}

.kks-benefits__h > div:before,
.kks-benefits__h > div:after {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	right: -15px;
	z-index: 0;
}

.kks-benefits__h > div:before {
	width: 0;
	height: 0;
	top: 0;
	border-style: solid;
	border-width: 0px 0 23px 15px;
	border-color: transparent transparent transparent #77cbbd;
	z-index: 0;
}

.kks-benefits__h > div:after {
	width: 0;
	height: 0;
	bottom: 0;
	border-style: solid;
	border-width: 23px 0 0px 15px;
	border-color: transparent transparent transparent #77cbbd;
	z-index: 0;
}

#present .kks-benefits__h > div {
	padding-right: 15px;
	padding-left: 15px;
}

#present .kks-benefits__content:last-child {
	margin-bottom: 0px;
}

.kks-benefits__content__header {
	display: table;
	width: 100%;
}

.kks-benefits__content__header__num,
.kks-benefits__content__header__txt {
	display: table-cell;
	vertical-align: middle;
}

#present .kks-benefits__content__header__num {
	width: 50px;
}

.kks-benefits__content__header__txt {
	padding-left: 12px;
	font-size: 15px;
	line-height: 1.2;
}

.kks-benefits__content__header__txt strong {
	font-size: 17px;
	line-height: 1.2;
}

#present .kks-benefits__content__header__txt {
	font-size: 12px;
	line-height: 1.6;
}

.kks-benefits__content__num {
	width: 70px;
	height: 70px;
	background-color: #ff7c8b;
	border-radius: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 1.15;
}

.kks-benefits__content__num > span {
	display: inline-block;
	margin-top: 12px;
}

.kks-benefits__content__num > span strong {
	font-family: 'Roboto Condensed', 'Helvetica', ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 30px;
	font-weight: 700;
}

.kks-benefits__content__fig {
	margin-top: 10px;
}

#present .kks-benefits__content__fig {
	padding-left: 20px;
	padding-right: 20px;
}

.kks-benefits__content--1 .kks-benefits__content__fig img {
	width: 398px;
	height: auto;
}

#present .kks-benefits__content--1 .kks-benefits__content__fig img {
	width: 100%;
	height: auto;
}

#present .kks-benefits__content--2 {
	margin-top: 20px;
}

.kks-benefits__content--2 .kks-benefits__content__fig img {
	width: 399px;
	height: auto;
}

#present .kks-benefits__content--2 .kks-benefits__content__fig img {
	width: 100%;
	height: auto;
}

.kks-benefits-wrap__note {
	margin-top: 5px;
	font-size: 11px;
	line-height: 1.6;
}

#other_info {
	background-color: #ff8996;
	color: #fff;
}

@media only screen and (min-width: 768px) {
	#other_info .telBox {
		overflow: hidden;
		width: 1030px;
		margin: 0 auto;
		padding: 10px 50px;
	}
	#other_info .telBox .info1 {
		overflow: hidden;
		margin: 0 0 20px 0;
		background-color: #fff;
		color: #ff5c6e;
		border-radius: 5px;
		padding: 10px;
	}
	#other_info .telBox .info1 .ttl {
		text-align: center;
	}
	#other_info .telBox .info1 .ttl .telTtl {
		margin: 0 0 5px 0;
		padding: 5px;
		font-size: 15px;
		font-weight: bold;
		border-radius: 100px;
		line-height: 1;
		background-color: #ff8996;
		color: #fff;
		text-align: center;
	}
	#other_info .telBox .info1 .ttl .free {
		margin: 0 0 0 10px;
		font-size: 12px;
		text-align: center;
	}
	#other_info .telBox .info1 li {
		width: 33.3333%;
		float: left;
		list-style: none;
	}
	#other_info .telBox .info1 li#telSP {
		padding: 10px 0;
		text-align: center;
	}
	#other_info .telBox .info1 li#telSP a {
		background-color: #fff;
		display: block;
		border-radius: 8px;
		padding: 10px;
	}
	#other_info .telBox .info1 li#telSP {
		display: none;
	}
	#other_info .telBox .info1 li.txt {
		padding: 5px 0 0;
		font-size: 11px;
		line-height: 1.3em;
		text-align: left;
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	#other_info .telBox .box01 {
		overflow: hidden;
		border-radius: 5px;
		width: 31.3333%;
		float: left;
	}
	#other_info .telBox .box01,
	#other_info .telBox .box02 {
		margin-right: 2%;
	}
	#other_info .telBox .box01 figure,
	#other_info .telBox .box02 figure {
		float: left;
		margin: 0 5px 0 0;
		padding: 0;
	}
	#other_info .telBox .box01 .txtbox {
		float: left;
		width: 76%;
	}
	#other_info .telBox .box01 .txtbox h2,
	#other_info .telBox .box02 .txtbox h2 {
		margin: 0 0 3px 0;
		font-size: 12px;
		font-weight: bold;
		display: block;
	}
	#other_info .telBox .txtbox p {
		font-size: 80%;
		line-height: 1.3;
	}
}

@media only screen and (max-width: 767px) {
	.kks-service-flow__body ul {
		background: #fff;
		padding: 15px;
		box-sizing: border-box;
		border-radius: 5px;
	}
	.kks-service-list__item {
		position: relative;
		width: 100%;
		float: none;
	}
	.kks-service-item {
		padding: 0;
		margin: 0;
	}
	.kks-benefits:before,
	.kks-profile:before,
	.kks-section__sp-img-wrap:before,
	.kks-service-item:before,
	.kks-service-list:before,
	.kks-benefits:after,
	.kks-profile:after,
	.kks-section__sp-img-wrap:after,
	.kks-service-item:after,
	.kks-service-list:after {
		display: table;
		content: '';
	}
	.kks-benefits:after,
	.kks-profile:after,
	.kks-section__sp-img-wrap:after,
	.kks-service-item:after,
	.kks-service-list:after {
		clear: both;
	}
	.kks-service-list__item + .kks-service-list__item {
		margin-top: 30px;
		margin-left: 0;
	}
	.kks-service-item__fig {
		width: 30%;
		float: left;
	}
	.kks-service-item__fig img {
		width: 100%;
		height: auto;
	}
	.kks-service-item__caption {
		width: 66.1971830986%;
		float: right;
	}
	.kks-service-item__header {
		padding-top: 0;
		padding-bottom: 8px;
	}
	.kks-service-item__step {
		font-family: 'Roboto Condensed', 'Helvetica', ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #f28b53;
		font-size: 13px;
		letter-spacing: 3px;
		font-weight: 700;
	}
	.kks-service-item__txt {
		font-size: 14px;
		font-weight: 500;
	}
	.kks-service-item__lead {
		border-top: 1px solid #cbcbcb;
		font-size: 13px;
		padding-top: 5px;
		line-height: 1.3;
	}
	.kks-service-item__lead span {
		display: block;
		color: #f28b53;
		margin-bottom: 5px;
		font-weight: bold;
		text-align: center;
	}
	.kks-service-list__item + .kks-service-list__item {
		margin-top: 30px;
		margin-left: 0;
	}
	.kks-service-list__item + .kks-service-list__item:before {
		display: block;
		position: absolute;
		content: ' ';
		width: 0;
		height: 0;
		top: -20px;
		left: 50%;
		margin-left: -20px;
		border-style: solid;
		border-width: 10px 20px 0 20px;
		border-color: #f28b53 transparent transparent transparent;
	}
	#present .present_dtl {
		padding: 35px 20px 25px;
		background-color: #fff;
	}
	.kks-benefits {
		position: relative;
		background-color: #fff;
		padding: 50px 35px 30px;
		border: 6px double #77cbbd;
	}
	#present .kks-benefits {
		padding: 40px 22px 25px 0;
	}
	.kks-benefits__h {
		width: 330px;
		position: absolute;
		top: -23px;
		left: 50%;
		margin-left: -165px;
		background-color: #77cbbd;
		color: #fff;
		font-size: 20px;
		font-weight: 400;
		line-height: 46px;
		text-align: center;
		vertical-align: middle;
	}
	#present .kks-benefits__h {
		width: 110%;
		margin-left: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		font-size: 4vw;
		white-space: nowrap;
	}
	.kks-benefits__h strong {
		color: #fff48a;
		font-size: 5vw;
		vertical-align: middle;
		position: relative;
	}
	#present .kks-benefits__h strong {
		font-size: 22px;
	}
	.kks-benefits__h:before,
	.kks-benefits__h:after {
		position: absolute;
		content: '';
		width: 0px;
		height: 0px;
		left: -15px;
		z-index: 1;
	}
	.kks-benefits__h:before {
		width: 0;
		height: 0;
		top: 0;
		border-style: solid;
		border-width: 0px 15px 23px 0;
		border-color: transparent #77cbbd transparent transparent;
	}
	.kks-benefits__h:after {
		width: 0;
		height: 0;
		bottom: 0;
		border-style: solid;
		border-width: 23px 15px 0px 0;
		border-color: transparent #77cbbd transparent transparent;
	}
	.kks-benefits__h > div:before,
	.kks-benefits__h > div:after {
		position: absolute;
		content: '';
		width: 0px;
		height: 0px;
		right: -15px;
		z-index: 1;
	}
	.kks-benefits__h > div:before {
		width: 0;
		height: 0;
		top: 0;
		border-style: solid;
		border-width: 0px 0 23px 15px;
		border-color: transparent transparent transparent #77cbbd;
	}
	.kks-benefits__h > div:after {
		width: 0;
		height: 0;
		bottom: 0;
		border-style: solid;
		border-width: 23px 0 0px 15px;
		border-color: transparent transparent transparent #77cbbd;
	}
	#present .kks-benefits__h > div {
		padding-right: 15px;
		padding-left: 15px;
	}
	.kks-benefits__content {
		width: 425px;
		float: left;
	}
	#present .kks-benefits__content {
		width: 100%;
		margin-bottom: 20px;
	}
	#present .kks-benefits__content:last-child {
		margin-bottom: 0px;
	}
	.kks-benefits__content__header {
		display: table;
		width: 100%;
	}
	.kks-benefits__content__header__num,
	.kks-benefits__content__header__txt {
		display: table-cell;
		vertical-align: middle;
	}
	#present .kks-benefits__content__header__num {
		width: 50px;
	}
	.kks-benefits__content__header__txt {
		padding-left: 12px;
		font-size: 15px;
		line-height: 1.2;
	}
	.kks-benefits__content__header__txt strong {
		font-size: 20px;
		line-height: 1.2;
	}
	#present .kks-benefits__content__header__txt {
		font-size: 12px;
		line-height: 1.6;
	}
	#present .kks-benefits__content__header__txt strong {
		font-size: 16px;
	}
	.kks-benefits__content__num {
		width: 80px;
		height: 80px;
		background-color: #77cbbd;
		border-radius: 100%;
		color: #fff;
		font-size: 18px;
		text-align: center;
		line-height: 1.15;
	}
	.kks-benefits__content__num > span {
		display: inline-block;
		margin-top: 16px;
	}
	.kks-benefits__content__num > span strong {
		font-family: 'Roboto Condensed', 'Helvetica', ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 30px;
		font-weight: 700;
	}
	#present .kks-benefits__content__num {
		width: 50px;
		height: 50px;
		font-size: 12px;
	}
	#present .kks-benefits__content__num > span {
		margin-top: 10px;
	}
	#present .kks-benefits__content__num > span strong {
		font-size: 18px;
	}
	.kks-benefits__content__fig {
		margin-top: 10px;
	}
	#present .kks-benefits__content__fig {
		padding-left: 20px;
		padding-right: 20px;
	}
	.kks-benefits__content--1 .kks-benefits__content__fig img {
		width: 398px;
		height: auto;
	}
	#present .kks-benefits__content--1 .kks-benefits__content__fig img {
		width: 100%;
		height: auto;
	}
	#present .kks-benefits__content--2 {
		margin-top: 20px;
	}
	.kks-benefits__content--2 .kks-benefits__content__fig img {
		width: 399px;
		height: auto;
	}
	#present .kks-benefits__content--2 .kks-benefits__content__fig img {
		width: 100%;
		height: auto;
	}
	.kks-benefits-wrap__note {
		margin-top: 5px;
		font-size: 11px;
		line-height: 1.6;
	}
	#other_info .telBox {
		overflow: hidden;
		width: 95%;
		margin: 0 auto;
		padding: 10px 0;
	}
	#other_info .telBox .info1 {
		overflow: hidden;
		margin: 0 0 10px 0;
		padding: 0px;
	}
	#other_info .telBox .info1 .ttl {
		text-align: center;
	}
	#other_info .telBox .info1 .ttl .telTtl {
		margin: 0 0 5px 0;
		padding: 5px;
		font-size: 15px;
		font-weight: bold;
		border: solid 1px #fff;
		border-radius: 100px;
		line-height: 1;
	}
	#other_info .telBox .info1 .ttl .free {
		margin: 3px 0 0 5px;
	}
	#other_info .telBox .info1 li#telSP {
		padding: 10px 0;
		text-align: center;
	}
	#other_info .telBox .info1 li#telSP a {
		background-color: #fff;
		display: block;
		border-radius: 8px;
		padding: 10px 15px;
	}
	#other_info .telBox .info1 li#telPC {
		display: none;
	}
	#other_info .telBox .info1 li.txt {
		margin: 0px;
		padding: 0px;
		font-size: 90%;
		line-height: 1.3em;
		text-align: center;
	}
	#other_info .telBox .box01,
	#other_info .telBox .box02 {
		overflow: hidden;
		background-color: #fff7eb;
		color: #ef6a35;
		padding: 10px 5px;
		display: table;
	}
	#other_info .telBox .box01 figure,
	#other_info .telBox .box02 figure {
		display: table-cell;
		width: 15%;
		margin: 0 5px 0 0;
		padding: 0;
	}
	#other_info .telBox .box01 .txtbox,
	#other_info .telBox .box02 .txtbox {
		width: 85%;
		display: table-cell;
		vertical-align: top;
		padding-left: 5px;
	}
	#other_info .telBox .box01 .txtbox h2,
	#other_info .telBox .box02 .txtbox h2 {
		margin: 0 0 3px 0;
		color: #f0b845;
		font-size: 14px;
		line-height: 1.3;
	}
	#other_info .telBox .box01 .txtbox p,
	#other_info .telBox .box02 .txtbox p {
		color: #000;
		font-size: 80%;
	}
	#other_info {
		background-color: #ff8996;
		color: #fff;
	}
	#page-top {
		display: none !important;
	}
}

/* footer
---------------------------------------------------------------------------- */

#pagetop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 77%;
	z-index: 10000;
}

#pagetop a {
	display: block;
	text-indent: -9999px;
	width: 60px;
	height: 60px;
	background: rgba(119, 203, 189, 0.9);
	border-radius: 4px;
	position: relative;
}

#pagetop a:before {
	content: '';
	width: 0;
	height: 0;
	border: solid 9px transparent;
	border-bottom: solid 15px #fff;
	position: absolute;
	top: 25%;
	right: 35%;
}

#pagetop a:hover {
	text-decoration: none;
	opacity: 0.7;
}

footer {
	width: 100%;
	border-top: dotted 1px #999;
}

footer p {
	display: block !important;
	padding: 8px 0;
	color: #666 !important;
	font-size: 11px;
	text-align: center;
}

.floating {
	position: fixed;
	display: none;
	width: 100%;
	text-align: center;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	padding: 35px;
	z-index: 1000;
}

@media only screen and (max-width: 767px) {
	#pagetop {
		bottom: 95px;
		display: none;
	}
	.floating {
		padding: 2%;
		box-sizing: border-box;
	}
}

.add-footer-link {
	padding-top: 20px;
	font-size: 14px;
	text-align: center;
}

.add-footer-link a {
	margin-left: 30px;
	color: #32b7e6;
}

.add-footer-link > *:first-child {
	margin-left: 0;
}

.none_text01,
.none_text02,
.none_text03 {
	display: none;
}

.pc_only {
	display: block;
}

.sp_only {
	display: none !important;
}

.jobsearch_link {
	margin: 50px 0 10px;
	text-align: center;
	text-decoration: underline;
}
.jobsearch_link a {
	transition: 0.5s;
	font-weight: bold;
	font-size: 16px;
}
.jobsearch_link a:hover {
	color: #ff7c8b;
}
