@charset "UTF-8";
/* ===================================================================

    マイナビ保育士 prefectures.css

* --------------------------------------------------------------------
*
* # NORMALIZE
* # BASE SETUP
*   ## mainTtlArea
*   ## prefectures-nav


 * #salary
 * #enqueter
 * #ranking
 * #popular
 * #consultant
 * #voice
 * #wheretogo
 * #useful-content

 * .find

==================================================================== */
:root {
	--green: #19cecd;
	--green2: #e5ffff;
	--yellow: #fff1cc;
	--orange: #ff8f1b;
	--gray: #c7c5c4;
	--gray2: #f5f6f9;
	--gray3: #e9e9e8;
	--mask: linear-gradient(#000 0 0) bottom/100% calc(100% - 24px) no-repeat, radial-gradient(circle farthest-side, #000 98%, #0000) top/44.40px 48px repeat-x;
}
/* ====================================================================
 * # NORMALIZE
 *
 *
 * -------------------------------------------------------------------- */

body {
	color: #1a191a;
}
header {
	z-index: 999;
}
@media screen and (min-width: 769px) {
	body {
		margin-top: 120px;
	}
}
.pc {
	display: block;
}
.sp {
	display: none;
}
@media only screen and (max-width: 639px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.sp-view {
		padding-top: 70px;
	}
}
h2 {
	font-size: 32px;
}
a:hover {
	opacity: 0.6;
	text-decoration: underline;
}
h1 span,
h2 span {
	color: #19cecd;
}
.dotted-line {
	position: relative;
}
.dotted-line::after {
	content: '';
	position: absolute;
	height: 4px;
	background: url(../../assets/img/special/prefectures/dotted_line.svg);
}
.dotted-line-bg {
	background: bottom no-repeat url(../../assets/img/special/prefectures/dotted_line.svg);
}

.wrapper {
	position: relative;
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
#prefectures .map-icon small {
	color: black;
}
#prefectures .map-icon::after,
#prefectures .map-icon::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 52px;
	background: center / contain no-repeat url(../../assets/img/special/prefectures/map_icon.svg);
}
#prefectures .map-icon::after {
	animation: bound 1s infinite;
	top: 0;
	left: -50px;
}
#prefectures .map-icon::before {
	width: 42px;
	height: 42px;
	background: #e4e4e4;
	border-radius: 300px;
	top: 28px;
	left: -50px;
	transform: rotateX(68deg);
	mix-blend-mode: multiply;
	animation: shadow-anim 1s infinite;
}
@media only screen and (min-width: 640px) {
	@keyframes bound {
		0%,
		100% {
			top: -10px;
			transform: scale(1), rotateX(68deg);
		}
		30% {
			top: -60%;
			transform: scale(0.96, 1.04), rotateX(68deg);
		}
		60% {
			transform: scale(1);
		}
		90% {
			top: -10px;
			transform: scale(1.15, 0.9);
		}
	}

	@keyframes shadow-anim {
		0%,
		100% {
			transform: scale(1), rotateX(68deg);
			filter: blur(4px);
		}
		30% {
			transform: scale(1.6, 1);
		}
	}
}
@media only screen and (max-width: 639px) {
	.wrapper {
		width: 100%;
	}
	.o-scroll::-webkit-scrollbar {
		display: none;
	}
	.o-scroll {
		overflow: scroll;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

/* ===================================================================
 * # BASE SETUP
 *
 *
 * ------------------------------------------------------------------- */
#prefectures {
	padding-bottom: 70px;
}
#prefectures section {
	padding: 80px 0 40px;
}
#prefectures h1 {
	padding: 26px 0 6px;
	color: #1a191a;
}
#prefectures h2 {
	position: relative;
	margin: 0 auto;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 1.3;
	font-weight: 600;
	text-align: center;
	padding-bottom: 8px;
	width: fit-content;
}
#prefectures h3 {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
}

#prefectures .textArea h1 {
	position: relative;
	font-size: 34px;
	text-align: center;
	line-height: 1.7;
}
@media only screen and (max-width: 639px) {
	#prefectures section {
		width: 100%;
		padding-bottom: 0;
	}
	#prefectures h1 {
		padding: 8px 0 20px;
	}
	#prefectures h2 {
		width: fit-content;
		line-height: 1.35;
		font-size: 23px;
		padding-bottom: 10px;
		letter-spacing: 0.5px;
	}
	@keyframes bound {
		0%,
		100% {
			top: -10px;
			transform: scale(1), rotateX(68deg);
		}
		30% {
			top: -60%;
			transform: scale(0.96, 1.04), rotateX(68deg);
		}
		60% {
			transform: scale(1);
		}
		90% {
			top: -10px;
			transform: scale(1.15, 0.9);
		}
	}
	@keyframes shadow-anim {
		0%,
		100% {
			transform: scale(1), rotateX(68deg);
			filter: blur(4px);
		}
		30% {
			transform: scale(1.6, 1);
		}
	}
}

/* ====================================================================
 * # Main Visual
 *
 *
 * -------------------------------------------------------------------- */
.kakeru {
	position: relative;
	bottom: 21px;
	margin: 0 10px 0 6px;
}
.kakeru img {
	width: 60px;
	height: 60px;
}
#prefectures .mainTtlArea {
	position: relative;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	width: 960px;
}
#prefectures .mainTtlArea::before {
	position: absolute;
	content: '';
	width: 150px;
	height: 206px;
	left: 0;
	bottom: -32px;
	background: no-repeat url(../../assets/img/special/prefectures/pref_mv_illust.svg);
}
#prefectures .textArea {
	margin-right: 62px;
}
#prefectures .textArea .dotted-line::after {
	width: 99%;
	right: 0;
	bottom: 68px;
}
#prefectures .mv-illust {
	width: 39%;
	bottom: -31px;
	position: relative;
}
#prefectures .prefecture-name {
	position: relative;
	color: var(--green);
	font-size: 42px;
}
#prefectures .prefecture-name.map-icon::after {
	width: 40px;
	height: 62px;
	top: 0;
	left: -50px;
}
#prefectures .desc {
	padding: 8px 0 20px;
	font-size: 16px;
	text-align: center;
}
#prefectures .highlighter {
	background: var(--yellow);
}
#prefectures .head-item-no::after {
	content: '';
	width: 30px;
	height: 30px;
	background: url(../../assets/img/service/step-check-icon.svg) no-repeat;
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: 18px;
}
#prefectures .salary-graph {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	background: white;
	padding: 24px 20px 10px 20px;
	border-radius: 16px;
}
#prefectures .salary-graph .employ-type {
	position: relative;
	color: #9a8607;
	background: #f8f5dd;
	border-radius: 8px;
	padding: 8px;
	text-align: center;
	margin-bottom: 20px;
}
#prefectures .salary-graph .employ-type::after {
	position: absolute;
	content: '';
	background: center no-repeat url(../../assets/img/special/prefectures/triangle.png);
	width: 27px;
	height: 18px;
	bottom: -16px;
	left: 46%;
}
#prefectures .salary-graph::after {
	position: absolute;
	content: '';
	width: 438px;
	height: 100px;
	right: -47px;
	top: -31px;
	background: url(../../assets/img/service/what-support-deco.svg) no-repeat;
	background-size: 431px;
}
#prefectures .salary-graph .average {
	display: flex;
	align-items: baseline;
	justify-content: center;
	letter-spacing: 1px;
	font-size: 24px;
}
#prefectures .salary-graph .average strong {
	position: relative;
	font-size: 42px;
	color: var(--orange);
}
#prefectures .salary-graph .average strong::before {
	position: absolute;
	content: '';
	width: 5px;
	height: 29px;
	left: -112px;
	background: var(--orange);
	bottom: 20px;
}

@media only screen and (max-width: 639px) {
	#prefectures .prefecture-name.map-icon::after {
		top: -12px;
	}
	#prefectures .textArea .dotted-line::after {
		bottom: 45px;
	}
	#prefectures .mainTtlArea::before {
		bottom: -359px;
		z-index: 1;
		left: 4%;
	}
	#prefectures .map-icon::after,
	#prefectures .map-icon::before {
		animation: none;
	}
	#prefectures .prefecture-name {
		font-size: 32px;
	}
	#prefectures .salary-graph .average strong::before {
		bottom: 14px;
	}
	.kakeru {
		bottom: 11px;
	}
}
.pcOnly {
	display: initial;
}
.spOnly {
	display: none;
}
.content-global .containerColor {
	background: #fff;
	padding-bottom: 50px;
}
.contentCover {
	background-image: url('../img/topic/common/contentCover_texture.png');
}
.body-2col .main-global {
	width: 690px;
}
.body-2col .aside-global {
	width: 210px;
}
.footer-global {
	margin-top: 0;
}
.main-global p.txt {
	padding: 30px 0 0;
	margin: 0;
}
.mainTtlBox h2 {
	margin-bottom: 0;
	padding: 12px 0 10px 36px;
	color: #dc2611;
	font-size: 28px;
	margin: 0;
	border-bottom: 2px solid #dc2611;
	background-image: url(../img/useful/icon_ttl.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px auto;
}
.wrapper a:hover {
	opacity: 0.5;
	text-decoration: none;
	color: #060000;
}
/* サイドバナーエリア */
.asideWidget-banner a {
	display: block;
}
.asideWidget-banner:first-child {
	margin: 0;
}
.asideWidget-banner {
	margin: 20px auto 0;
}
.asideWidget-banner {
	text-align: center;
}

@media only screen and (max-width: 639px) {
	#service__main .list .item .fig img,
	.usefulSidebar img {
		width: 100%;
		height: auto;
	}
	#service__main .list .item .summary p {
		margin: 0;
		min-height: 0px;
	}
	.pcOnly {
		display: none !important;
	}
	.spOnly {
		display: initial;
	}
	.content-global .container {
		padding: 0 10px;
	}
	.spInner {
		padding: 0 10px;
	}
	.sp-view .aside-global {
		display: initial;
	}
	/*
	 .sidebar
	----------------------------------------*/
	#side_scroll {
		width: auto;
	}
	.body-2col .aside-global {
		width: 100%;
		margin-top: 30px;
	}
	/* リストアイテム */
	.wrapper .mainTtlBox h2 {
		padding: 10px 0 8px 30px;
		font-size: 20px;
		border-width: 2px;
		background-size: 16px auto;
	}
	#service__main .list .item {
		float: none;
		width: auto;
		padding: 0;
	}
	#service__main .list .item:nth-child(even) {
		float: none;
	}
}

@media only screen and (min-width: 639px) {
	.mv-merit img,
	.salary-graph::after {
		animation-name: huwahuwa;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-duration: 1.5s;
	}
}
@media only screen and (max-width: 639px) {
	.desc {
		font-size: 14px;
	}
	#service-merit h1::before {
		background-size: 63px;
		left: -90px;
	}
	#prefectures p {
		font-size: 15px;
		text-align: left;
		line-height: 1.55;
	}
	.module-block .text-center {
		display: flex;
		justify-content: space-between;
		padding: 0 16px 10px;
	}
	.salary-graph::after {
		width: 100%;
		height: 100px;
		right: -19px;
		top: -20px;
		background-size: 100%;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .facebook,
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .follow {
		margin: 0 16px 40px 16px;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom .apply {
		margin: 0 16px;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom span {
		margin: 38px 0 14px;
		padding: 0 16px;
		color: #dd2713;
		font-size: 1.3em;
		font-weight: bold;
		text-align: left;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom a.sns-img {
		margin: 0;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom a.sns-img img {
		width: 30vw;
		padding-right: 4px;
	}
	.module-block .text-center {
		display: flex;
		justify-content: space-between;
		padding: 0 16px 10px;
	}
}
@media only screen and (max-width: 361px) {
	.cv-excerpt h2 {
		font-size: 1.17em;
	}
	.service-cv__btn.sp {
		font-size: 12px;
	}
	.aside-global .sp-asideWidget-banner-block .module-block.bottom span {
		font-size: 1.2em;
	}
}
@keyframes huwahuwa {
	0% {
		transform: translate(0, 0px);
	}
	100% {
		transform: translate(0, -20px);
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes shiny {
	0% {
		transform: scale(0) rotate(25deg);
		opacity: 0;
	}
	50% {
		transform: scale(1) rotate(25deg);
		opacity: 1;
	}
	100% {
		transform: scale(50) rotate(25deg);
		opacity: 0;
	}
}
/* --------------------------------------------------------------------
*   ## mainTtlArea
* -------------------------------------------------------------------- */
.content-global {
	background: white;
}
.mainTtlCenter {
	width: 100%;
	height: auto;
	background-color: var(--yellow);
}
.mainTtlArea {
	position: relative;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	flex-direction: row;
	align-content: center;
}
.textArea h1 {
	color: #19cecd;
	line-height: 1.4;
	font-weight: 600;
}
.textArea h1 strong {
	font-size: 140%;
}
.mainTtlCenter .map-icon::before {
	background: #f3e4be;
}

@media only screen and (max-width: 639px) {
	.content-global .container {
		padding: 0;
	}
	.content-global .container .css-pz3g2y-BreadcrumbStyle {
		padding: 5px;
	}
	.mainTtlArea {
		align-items: center;
		width: 100%;
	}
	.textArea h1 {
		margin: 8px 0;
		font-size: 5vw;
		width: 100%;
	}
	#prefectures .mainTtlArea {
		width: 100%;
		/* height: auto; */
		top: 0;
		flex-direction: column;
		/* padding-top: 140px; */
	}
	#prefectures .textArea h1 {
		font-size: 6.5vw;
		width: fit-content;
		margin: 6% auto 0 20%;
	}
	#prefectures .textArea p {
		font-size: 12px;
		line-height: 1.6;
		margin: 0 auto;
		padding: 0 4% 4%;
		text-align: left;
	}
}
@media only screen and (max-width: 350px) {
	.mainTtlArea .textArea br.sp {
		display: none;
	}
}

/* --------------------------------------------------------------------
*   ## prefectures-nav
* -------------------------------------------------------------------- */

.prefectures-nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
}
.prefectures-nav ul a {
	color: #1a191a;
	width: 100%;
}
.prefectures-nav ul li {
	width: 238px;
	position: relative;
	height: 46px;
	display: flex;
	align-items: center;
	border: solid 1px var(--gray);
	border-radius: 8px;
	margin-bottom: 8px;
	padding: 0 14px;
}
.prefectures-nav ul li::before {
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	border: 0px;
	border-top: solid 2px var(--green);
	border-right: solid 2px var(--green);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 50%;
	right: 15px;
	margin-top: -6px;
}
@media only screen and (max-width: 639px) {
	.prefectures-nav {
		position: relative;
		top: -612px;
		margin-bottom: -260px;
	}
	.prefectures-nav ul li {
		width: 48%;
		background: white;
	}
	.prefectures-nav {
		position: relative;
		top: -612px;
	}
	.prefectures-nav ul a {
		font-size: 12px;
	}
	.prefectures-nav ul li::before {
		width: 7px;
		height: 7px;
		right: 10px;
	}
}

/* --------------------------------------------------------------------
*   ## blogcard
* -------------------------------------------------------------------- */
.blogcard {
	margin: 80px auto 0;
	width: 860px;
	border-radius: 16px;
	border: 1px solid #eeeeee;
	word-wrap: break-word;
	box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.025);
}
.blogcard-guide {
	position: relative;
	background-color: #ffe4e3;
}
.blogcard-voice {
	position: relative;
	background-color: #fff1cc;
}
.blogcard-merit {
	position: relative;
	background-color: #ffead9;
}
.blogcard-guide::after,
.blogcard-voice::after,
.blogcard-merit::after {
	position: absolute;
	content: '';
	top: -13px;
	left: 18px;
	width: 172px;
	height: 57px;
	background: url(../../assets/img/service/blog-tag-red.svg) no-repeat;
	background-size: 167px;
}
.blogcard-voice::after {
	background: url(../../assets/img/service/blog-tag-yellow.svg) no-repeat;
	background-size: 167px;
}
.blogcard-merit::after {
	background: url(../../assets/img/service/blog-tag-orange.svg) no-repeat;
	background-size: 167px;
}
.blogcard a {
	display: flex;
	text-decoration: none;
	opacity: 1;
	transition: all 0.2s ease;
	align-items: center;
}
.blogcard-guide a {
	color: #e06b64;
}
.blogcard-voice a {
	color: #f49902;
}
.blogcard-merit a {
	color: #ff930f;
}
.blogcard a:hover {
	opacity: 0.6;
}
.blogcard a .blogcard_button {
	padding: 10px 40px;
	border: 2px solid;
	border-radius: 300px;
	margin: 28px;
	font-weight: bold;
}
.blogcard-guide a .blogcard_button {
	border-color: #e06b64;
}
.blogcard-voice a span {
	border-color: #f49902;
}
.blogcard-guide h3.blogcard_title span {
	color: #e06b64;
}
.blogcard_thumbnail {
	float: left;
	border-radius: 16px 0 0 16px;
}
.blogcard-guide .blogcard_thumbnail {
	background: center bottom / cover no-repeat url('../../assets/img/service/service-guide-bg.png'), #ffccca;
}
.blogcard-voice .blogcard_thumbnail {
	background: #ffe3a3;
}
.blogcard-merit .blogcard_thumbnail {
	background: center bottom / cover no-repeat url('../../assets/img/service/service-merit-bg.png'), #ffd6b8;
}
.blogcard_title {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4;
	padding: 17px 29px 10px;
}
.blogcard_excerpt {
	color: #1a191a;
	line-height: 1.6;
	padding: 0 28px 20px 28px;
}
@media screen and (min-width: 768px) {
	.blogcard:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@media only screen and (max-width: 639px) {
	.blogcard {
		width: 90%;
		height: 160px;
		margin: 40px auto 28px;
	}
	.blogcard-guide::after,
	.blogcard-voice::after,
	.blogcard-merit::after {
		top: -24px;
	}
	.blogcard a .blogcard_button {
		font-size: 3vw;
	}
	.blogcard-merit .blogcard_thumbnail,
	.blogcard-guide .blogcard_thumbnail,
	.blogcard-voice .blogcard_thumbnail {
		width: 36%;
		overflow: hidden;
	}
	.blogcard-guide .blogcard_thumbnail {
		background-color: #ffa3a0;
	}
	.blogcard-voice .blogcard_thumbnail {
		background-color: #ffd682;
	}
	.blogcard-merit .blogcard_thumbnail img,
	.blogcard-guide .blogcard_thumbnail img,
	.blogcard-voice .blogcard_thumbnail img {
		height: 158px;
		left: -57px;
		position: relative;
		width: 223px;
	}
	.blogcard-merit .blogcard_thumbnail img {
		left: -48px;
	}

	.blogcard-voice .blogcard_thumbnail img {
		left: -44px;
	}
	.blogcard_excerpt {
		display: none;
	}
	#service-merit .blogcard_title,
	#prefectures .blogcard_title {
		font-size: 18px;
		padding: 0 0 14px 26px;
	}
	.blogcard-guide h3.blogcard_title span.sp,
	#prefectures .blogcard_title {
		color: #1a191a;
	}
	#prefectures .blogcard_title span {
		color: #ff930f;
	}
}

@media only screen and (max-width: 361px) {
	.blogcard a .blogcard_button {
		margin: 28px 0 28px 28px;
	}
	#prefectures .blogcard_title,
	#service-merit .blogcard_title {
		font-size: 16px;
	}
}
/* --------------------------------------------------------------------
*   ## service-cv
* -------------------------------------------------------------------- */
.service-cv {
	background: #f5f6f9;
}
.service-cv .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}
.cv02 .wrapper {
	flex-direction: row-reverse;
}
#service-merit section.cv01 {
	padding: 0;
	margin-top: 80px;
}
.service-cv .cv-excerpt {
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	line-height: 1.6;
}
.service-cv .cv-excerpt p {
	font-size: 16px;
	color: #19cecd;
}

.service-cv__btn.pc {
	display: block;
	margin: 12px auto 7px;
	padding: 18px 15px;
	width: fit-content;
	min-width: 367px;
	color: white;
	background: #ff930f;
	border-radius: 300px;
	font-size: 17px;
	font-weight: 600;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.service-cv__btn.pc:hover {
	color: white;
	filter: drop-shadow(2px 3px 9px rgb(145, 145, 145));
}
.service-cv__btn.sp {
	display: none;
}
.cv-excerpt h2 {
	margin-top: 0;
	color: #1a191a;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.6;
}
.cv-excerpt h2 span {
	background: #1ce6e687;
}
.cv-excerpt h3 {
	margin-top: 5px;
	color: #19cecd;
	font-size: 18px;
	font-weight: 600;
}
@media screen and (min-width: 768px) {
	.service-cv__btn.pc:hover {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@media only screen and (max-width: 639px) {
	.service-cv__btn.sp {
		position: relative;
		display: block;
		margin: 0 auto 7px;
		padding: 25px 15px;
		min-width: fit-content;
		border-radius: 300px;
		font-size: 15px;
		font-weight: 600;
		color: white;
		background: #ff930f;
		overflow: hidden;
	}
	.service-cv__btn.sp::after {
		content: '';
		position: absolute;
		top: -100px;
		left: -100px;
		width: 50px;
		height: 50px;
		background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);
		animation-name: shiny;
		animation-duration: 3s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	.cv-excerpt {
		padding: 25px 15px 15px;
		background: white;
	}
	.cv-excerpt h2 {
		font-size: 1.4em;
		line-height: 1.3;
	}
	.cv-excerpt h3 {
		line-height: 1.4;
	}
	.cv-excerpt::after {
		position: absolute;
		content: '';
		width: 104px;
		height: 104px;
		top: 73px;
		right: 0;
		background: url(../../assets/img/consultant/consultant-cv-pro.svg) no-repeat;
		background-size: 23vw;
		animation-name: huwahuwa;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-duration: 1.5s;
	}
	.service-cv {
		line-height: 1.3;
	}
	.service-cv img {
		width: 80%;
	}
	.service-cv__btn.sp {
		position: relative;
		display: block;
		margin: 0 auto 7px;
		padding: 25px 15px;
		min-width: fit-content;
		border-radius: 300px;
		font-size: 15px;
		font-weight: 600;
		color: white;
		background: #ff930f;
		overflow: hidden;
	}
	.service-cv__btn.sp::after {
		content: '';
		position: absolute;
		top: -100px;
		left: -100px;
		width: 50px;
		height: 50px;
		background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);
		animation-name: shiny;
		animation-duration: 3s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	.cv-excerpt {
		padding: 25px 15px 15px;
		background: white;
	}
	.cv-excerpt h2 {
		font-size: 1.4em;
		line-height: 1.3;
	}
	.cv-excerpt h3 {
		line-height: 1.4;
	}

	.service-cv .cv-excerpt {
		border: 2px solid #ff930f;
		border-radius: 16px;
		width: 90%;
	}
	.service-cv__btn.pc {
		width: 100%;
		min-width: auto;
		font-size: 0.78em;
	}
	#service-merit .service-cv .cv-excerpt p,
	#prefectures .service-cv .cv-excerpt p,
	#service-voice .service-cv .cv-excerpt p {
		text-align: center;
		font-size: 18px;
	}
	#service-merit .service-cv .cv-excerpt p.cv-detail,
	#prefectures .service-cv .cv-excerpt p.cv-detail,
	#service-voice .service-cv .cv-excerpt p.cv-detail {
		margin: 14px;
		font-size: 12px;
		text-align: left;
		font-weight: normal;
		color: #707070;
	}
	.service-cv .wrapper {
		flex-direction: column;
	}
}
@media only screen and (max-width: 361px) {
	.service-cv__btn.pc {
		font-size: 0.7em;
	}
	.service-cv .cv-excerpt {
		font-size: 17px;
	}
}

@media only screen and (max-width: 639px) {
	.salary-graph {
		flex-direction: column-reverse;
		padding: 60px 20px 20px;
		width: 90%;
		margin: 10px auto;
	}
	.salary-graph img {
		width: 93%;
		margin: 40px 0;
	}
}

#prefectures .mainTtlCenter {
	background-position: center bottom;
	margin: 0 auto 82px;
	display: flex;
	align-content: center;
	height: 320px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
#prefectures .mv-merit img:first-of-type,
#prefectures .mv-merit img:last-of-type {
	position: relative;
	bottom: -30px;
}

#prefectures h1::before {
	bottom: 86px;
	left: 285px;
	margin: auto;
}
#prefectures h2::before {
	margin: auto;
}
@media only screen and (max-width: 639px) {
	#prefectures .mainTtlCenter {
		height: 740px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	#prefectures .dotted-line-bg {
		font-size: 20px;
		margin-top: -50px;
	}
	#prefectures .intro {
		padding-top: 32px;
	}
	#prefectures .intro .dotted-line-bg {
		text-align: right;
		margin: -12px 4% 0 57%;
		right: 0;
	}
}

/* ====================================================================
 * # intro
 *
 *
 * -------------------------------------------------------------------- */

#prefectures .intro p {
	font-size: 17px;
}

@media only screen and (max-width: 639px) {
	#prefectures h1 {
		padding-bottom: 0;
	}
	#prefectures .textArea {
		width: 100%;
		margin-right: 0;
		padding-left: 0;
	}
	#prefectures .mv-merit {
		margin: -20px 0;
	}
	#prefectures .mv-merit img {
		width: 47%;
	}
	#prefectures .mv-merit img:nth-of-type(2) {
		width: 40%;
	}
	#prefectures .mv-illust {
		width: 73%;
		bottom: -246px;
	}
	#prefectures .desc {
		text-align: center;
		font-size: 12px;
	}
	#prefectures .intro .desc {
		text-align: left;
		font-size: 14px;
		padding: 8% 4%;
	}
}

.accordion label {
	font-weight: 500;
}

/* ====================================================================
 * #salary
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #salary {
	background: var(--green2);
}
#prefectures #salary .map-icon::before {
	width: 30px;
	height: 30px;
	background: #c0e2e1;
	top: 25px;
	left: -50px;
}
#prefectures #salary .desc {
	position: relative;
}
#prefectures #salary .desc::before,
#prefectures #popular .desc::before,
#prefectures #wheretogo .desc::before {
	content: '';
	position: absolute;
	width: 800px;
	height: 192px;
	background: bottom / contain no-repeat url(../../assets/img/special/prefectures/salary-ttl-illu.png);
	bottom: -11px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}
#prefectures #salary .salary-graph::after {
	display: none;
}

@media only screen and (max-width: 639px) {
	#prefectures #salary {
		padding-bottom: 20px;
	}
	#prefectures #salary .desc::before,
	#prefectures #popular .desc::before,
	#prefectures #wheretogo .desc::before {
		width: 100%;
	}
	#prefectures #salary .map-icon::before,
	#prefectures #salary .map-icon::after {
		left: 0;
		right: 0;
		margin: auto;
		top: -20px;
	}
	#prefectures #salary .map-icon::after {
		top: -53px;
	}
	.map-icon::after {
		top: -52px;
	}
	.desc {
		padding-bottom: 27px;
	}
	.tabs {
		margin-top: 50px;
		background-color: #fff;
		width: 700px;
		margin: 0 auto;
	}
	.tab_item {
		width: fit-content;
		height: 50px;
		background-color: #efefef;
		line-height: 50px;
		font-size: 3.6vw;
		display: block;
		float: left;
		font-weight: bold;
		transition: all 0.2s ease;
		border-radius: 12px;
		margin: 0 4px;
		padding: 0px 3%;
		text-align: center;
		color: #a0a0a0;
	}
	.tab_item:hover {
		opacity: 0.75;
	}
	input[name='tab_item'] {
		display: none;
	}
	.tab_content {
		display: none;
		padding: 13px 40px 0;
		clear: both;
		overflow: hidden;
	}
	#regular:checked ~ #regular_content,
	#parttime:checked ~ #parttime_content,
	#temporary:checked ~ #temporary_content {
		display: block;
	}
	.tabs {
		width: 100%;
	}
	.tabs input:checked + .tab_item {
		position: relative;
		background-color: #fcf2a5;
		color: #9a8607;
	}
	.tabs input:checked + .tab_item::after {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #fcf2a5;
		bottom: -10px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.tab-contents {
		height: 300px;
	}
}

@media only screen and (min-width: 639px) {
	#prefectures #salary .tabs {
		display: flex;
		justify-content: space-evenly;
	}
}

/* ====================================================================
 * #enqueter
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #enqueter {
	position: relative;
	padding-top: 366px;
	background: url(../../assets/img/special/prefectures/enq-bg.png);
}
#prefectures #enqueter::before {
	position: absolute;
	content: '';
	width: 580px;
	height: 366px;
	background: center / contain no-repeat url(../../assets/img/special/prefectures/enqueter-illust.png);
	top: 18px;
	left: 0;
	right: 0;
	margin: auto;
}
#prefectures #enqueter h2 {
	padding-bottom: 8px;
}
#prefectures #enqueter .map-icon::after {
	left: 42px;
}
#prefectures #enqueter .map-icon::before {
	top: 19px;
	left: 35px;
}
#prefectures #enqueter .enqueter-item h3 {
	position: relative;
	text-align: center;
	padding: 60px 0 20px;
	line-height: 1;
	width: fit-content;
	margin: 0 auto;
}
#prefectures #enqueter .enqueter-item h3 strong {
	color: var(--green);
}
#prefectures #enqueter .enqueter-item h3::before {
	content: '';
	position: absolute;
	width: 130px;
	height: 130px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	bottom: -10px;
	left: -147px;
}
#prefectures #enqueter .enqueter-item:nth-of-type(2) h3::before,
#prefectures #enqueter .enqueter-item:nth-of-type(4) h3::before,
#prefectures #enqueter .enqueter-item:nth-of-type(6) h3::before {
	left: auto;
	right: -147px;
}
#prefectures #enqueter .enqueter-item:first-of-type h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_01.png);
}
#prefectures #enqueter .enqueter-item:nth-of-type(2) h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_02.png);
}
#prefectures #enqueter .enqueter-item:nth-of-type(3) h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_03.svg);
}
#prefectures #enqueter .enqueter-item:nth-of-type(4) h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_04.png);
}
#prefectures #enqueter .enqueter-item:nth-of-type(5) h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_05.png);
}
#prefectures #enqueter .enqueter-item:nth-of-type(6) h3::before {
	background-image: url(../../assets/img/special/prefectures/enqueter_item_06.png);
}
#prefectures #enqueter .enqueter-item .no {
	color: var(--green);
	font-size: 32px;
	padding-right: 10px;
}
#prefectures #enqueter .enqueter-gragh {
	position: relative;
	background: #ffffffe3;
	border: 1px solid #e8e9eb;
	border-radius: 16px;
	z-index: 1;
	position: relative;
}

@media only screen and (max-width: 639px) {
	#prefectures #enqueter {
		padding-top: 290px;
	}
	#prefectures #enqueter::before {
		width: 100%;
		top: -49px;
	}
	#prefectures #enqueter .map-icon::after {
		left: 24px;
		top: -8px;
		width: 22px;
	}
	#prefectures #enqueter .map-icon::before {
		left: 21px;
		width: 28px;
		top: 12px;
	}
	#prefectures #enqueter .enqueter-gragh {
		background: white;
		padding: 2%;
		margin: 0 2% 6%;
		border-radius: 0 0 16px 16px;
	}
	#prefectures #enqueter .enqueter-item h3 {
		text-align: left;
		padding: 4% 4% 4% 29%;
		font-size: 17px;
		line-height: 1.3;
		background: var(--yellow);
		margin: 0 2%;
		border-radius: 16px 16px 0 0;
	}
	#prefectures #enqueter .enqueter-item .no {
		display: block;
	}
	#prefectures #enqueter .enqueter-item h3::before {
		right: auto;
		left: 2px;
		width: 23vw;
	}
	#prefectures #enqueter .enqueter-item:nth-of-type(2) h3::before,
	#prefectures #enqueter .enqueter-item:nth-of-type(4) h3::before,
	#prefectures #enqueter .enqueter-item:nth-of-type(6) h3::before {
		right: auto;
		left: 12px;
		width: 23vw;
	}
}

@media only screen and (min-width: 639px) {
	#prefectures #enqueter .enqueter-item:first-of-type:before {
		content: '';
		position: absolute;
		width: 420px;
		height: 416px;
		background: bottom / contain no-repeat url(../../assets/img/special/prefectures/enqueter-bg-illust.png);
		top: 110px;
		right: -250px;
		z-index: 1;
	}
}
/* ====================================================================
 * #ranking
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #ranking {
	position: relative;
	padding-top: 167px;
	background: center top 25px / 510px no-repeat url(../../assets/img/special/prefectures/ranking-bg.png) var(--gray2);
}
#prefectures #ranking::before {
	content: '';
	position: absolute;
	margin: auto;
	width: 210px;
	height: 88px;
	background: no-repeat url(../../assets/img/special/prefectures/ranking-deco.svg);
	top: 70px;
	left: 0;
	right: 0;
}
#prefectures #ranking .desc {
	margin-bottom: 30px;
}
#prefectures #ranking .rank-items {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 990px;
	padding-top: 124px;
}
#prefectures #ranking .rank-item {
	position: relative;
	width: 30%;
	background: white;
	border-radius: 16px;
	border: 1px solid #e9e9e8;
	padding: 20px;
	line-height: 3;
	z-index: 1;
}
#prefectures #ranking .rank-item::before {
	content: '';
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 300px;
	background: var(--yellow);
	top: -133px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}
#prefectures #ranking .rank-item::after {
	content: '';
	position: absolute;
	width: 134px;
	height: 130px;
	background: no-repeat url(../../assets/img/special/prefectures/rank01-illust.png);
	top: -133px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}
#prefectures #ranking .rank-item:nth-of-type(2)::after {
	background: no-repeat url(../../assets/img/special/prefectures/rank02-illust.png);
}
#prefectures #ranking .rank-item:nth-of-type(3)::after {
	background: no-repeat url(../../assets/img/special/prefectures/rank03-illust.png);
}

#prefectures #ranking .rank-item h3 {
	text-align: center;
	margin-bottom: 16px;
}
#prefectures #ranking .rank-item a {
	color: #4792bd;
}
#prefectures #ranking .rank-item .no {
	color: var(--gray);
	background: var(--gray2);
	padding: 4px 9px;
	margin-right: 8px;
	border-radius: 300px;
}
#prefectures #ranking .rank-item li {
	position: relative;
}
#prefectures #ranking .rank-item li::before {
	content: '';
	position: absolute;
	border: 0.5px solid #e9e9e8;
	width: 254px;
	height: 0.5px;
	bottom: 0;
}
#prefectures #ranking .rank-item li:last-of-type::before {
	display: none;
}
#prefectures #ranking .rank-item ol li:first-of-type,
#prefectures #ranking .rank-item ol li:nth-of-type(2),
#prefectures #ranking .rank-item ol li:nth-of-type(3) {
	font-weight: bold;
}
#prefectures #ranking .rank-item ol li:first-of-type .no {
	color: white;
	background-color: gold;
}
#prefectures #ranking .rank-item ol li:nth-of-type(2) .no {
	color: white;
	background-color: silver;
}
#prefectures #ranking .rank-item ol li:nth-of-type(3) .no {
	color: white;
	background-color: #d07109;
}
#prefectures #ranking .map-icon::after {
	left: 68px;
}
#prefectures #ranking .map-icon::before {
	top: 18px;
	left: 61px;
}
@media only screen and (max-width: 639px) {
	#prefectures #ranking::before {
		top: 22px;
	}
	#prefectures #ranking .map-icon::after {
		left: 44px;
		width: 22px;
		top: -8px;
	}
	#prefectures #ranking .map-icon::before {
		top: 20px;
		left: 41px;
		width: 28px;
		height: 28px;
	}
	#prefectures #ranking .rank-items {
		flex-direction: column;
		width: 100%;
	}
	#prefectures #ranking .rank-item {
		width: 92%;
		margin: 0 4% 180px;
	}
	#prefectures #ranking .rank-item:last-of-type {
		margin-bottom: 20px;
	}
	#prefectures #ranking .rank-item ol {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#prefectures #ranking .rank-item ol li {
		width: 100%;
		text-align: center;
	}
	#prefectures #ranking .rank-item li::before {
		left: 0;
		width: 100%;
	}
}

/* ====================================================================
 * #popular
 *
 *
 * -------------------------------------------------------------------- */

#prefectures #popular .map-icon::after {
	left: 38px;
}
#prefectures #popular .map-icon::before {
	top: 16px;
	left: 34px;
}
#prefectures #popular .desc::before {
	background: bottom / contain no-repeat url(../../assets/img/special/prefectures/popular-ttl-illu.png);
	bottom: auto;
	top: -103px;
	right: -620px;
}
#prefectures #popular .popular-content {
	display: flex;
	justify-content: space-evenly;
}
#prefectures #popular .popular-content .content__item {
	width: 32%;
}
#prefectures #popular .popular-content .content__item .item span {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 6% 4%;
	background: #303030;
	opacity: 0.6;
	color: #fff;
	border-radius: 0 0 8px 8px;
	line-height: 16px;
	vertical-align: top;
	line-height: 1.5rem;
	margin-top: 12px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
#prefectures #popular .popular-content .item {
	position: relative;
	padding-bottom: 51%;
	margin: 16px 0;
	vertical-align: top;
	border: 1px solid #e9e9e8;
	border-radius: 8px;
}

#prefectures #popular .popular-content .item img {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 0;
	border-radius: 8px;
}
@media only screen and (max-width: 639px) {
	#prefectures #popular {
		padding-top: 102px;
		background: var(--yellow);
	}
	#prefectures #popular .popular-content .content__item {
		width: 320px;
		margin-left: 4%;
		position: relative;
	}
	#prefectures #popular .popular-content .content__item:last-of-type::after {
		content: '';
		position: absolute;
		display: block;
		width: 20px;
		height: 100%;
	}
	#prefectures #popular .desc {
		padding-bottom: 0;
	}
	#prefectures #popular .o-scroll {
		background: #fff1cc;
		padding: 0 0 106px;
	}

	#prefectures #popular .o-scroll__container {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		padding-right: 20px;
		padding-bottom: 20px;
		align-items: stretch;
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
	}
	#prefectures #popular .popular-content .item {
		width: 320px;
	}
	#prefectures #popular .map-icon::after {
		left: 35px;
		width: 22px;
		top: -7px;
	}
	#prefectures #popular .map-icon::before {
		top: 18px;
		left: 29px;
		width: 32px;
		height: 32px;
	}
	#prefectures #popular .desc::before {
		display: none;
	}
}

/* ====================================================================
 * #consultant
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #consultant {
	position: relative;
	background-color: var(--green2);
	margin-top: 140px;
	padding-top: 49px;
}
#prefectures #consultant::before {
	content: '';
	position: absolute;
	width: 258px;
	height: 146px;
	background: no-repeat url(../../assets/img/special/prefectures/consultant-illust.png);
	top: -122px;
	left: 0;
	right: 0;
	margin: auto;
}
#prefectures #consultant .staff-wrap {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto 0;
	width: 750px;
}
#prefectures #consultant .staff__title::after {
	display: none;
}
#prefectures #consultant .staff__title {
	height: 141px;
}
#prefectures #consultant .staff__img {
	width: 100px;
}
@media only screen and (max-width: 639px) {
	#prefectures #consultant {
		margin-top: 0;
		padding-top: 88px;
	}
	#prefectures #consultant::before {
		width: 200px;
		background-size: contain;
		background-position: bottom;
		top: -128px;
	}
	#prefectures #consultant .staff-wrap {
		margin: 38px auto 0;
		padding-bottom: 35px;
	}
}
/* ====================================================================
 * #voice
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #voice {
	background: url(../../assets/img/special/prefectures/enq-bg.png) var(--yellow);
	padding-top: 30px;
}

#prefectures #voice .map-icon::after {
	left: -43px;
}
#prefectures #voice .map-icon::before {
	top: 16px;
	left: -50px;
}

#prefectures #voice .voice-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 232px;
}

#prefectures #voice .voice-title .column-l {
	padding-right: 24px;
}
#prefectures #voice .voice-illust {
	width: 270px;
}
#prefectures #voice .voice-content {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	background: white;
	border-radius: 16px;
}
#prefectures #voice .voicelist-item__title {
	margin-bottom: 8px;
}
#prefectures #voice .voicelist-item__title span {
	color: var(--green);
}
#prefectures #voice .voicelist-item__head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 24px;
}
#prefectures #voice .voicelist-item-img img {
	display: block;
	position: absolute;
	width: 129px;
	bottom: 0;
	left: -13px;
}
#prefectures #voice .col-l {
	padding: 30px;
	width: 60%;
}
#prefectures #voice .col-r {
	padding: 30px 0;
	width: 40%;
	background: var(--green2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0 16px 16px 0;
}
#prefectures #voice .profile {
	position: relative;
	padding: 5px 18px 5px 34px;
	border-radius: 300px;
	background: #ffb51036;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px) contrast(20%);
	box-shadow: 9px 4px 10px #f4d48a;
	z-index: 2;
	width: fit-content;
}
#prefectures #voice .profile::before {
	content: '';
	position: absolute;
	width: 9px;
	height: 16px;
	background: center / contain url(../../assets/img/special/prefectures/map-pin.svg);
	left: 20px;
	top: 8px;
}
#prefectures #voice .star {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
#prefectures #voice .star-icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.7rem;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	vertical-align: middle;
}
#prefectures #voice .star .star-point {
	position: relative;
	display: inline-block;
	top: -0.1rem;
	margin-left: 8px;
	font-size: 2.5rem;
	font-weight: 600;
}
#prefectures #voice .icon-rated-yellow {
	background-image: url('../../assets/img/special/prefectures/rated-orange.svg');
}

#prefectures #voice .icon-unrated-yellow {
	background-image: url('../../assets/img/special/prefectures/unrated-orange.svg');
}

#prefectures #voice .icon-half-rated-yellow {
	background-image: url('../../assets/img/special/prefectures/half-rated-orange.svg');
}
#prefectures #voice .voicelist-item-img {
	width: 118px;
	position: relative;
	height: 118px;
	background: var(--yellow);
	border-radius: 300px;
	overflow: hidden;
	margin-right: 28px;
}
@media only screen and (max-width: 639px) {
	#prefectures #voice {
		padding-bottom: 268px;
	}
	#prefectures #voice::after {
		position: absolute;
		content: '';
		background: bottom / contain no-repeat url(../../assets/img/special/prefectures/voice_illust.svg);
		width: 280px;
		height: 250px;
		margin: auto;
		left: 0;
		right: 0;
	}
	#prefectures #voice .voice-illust {
		display: none;
	}
	#prefectures #voice .map-icon::before {
		top: -31px;
		left: 0;
		right: 0;
	}
	#prefectures #voice .map-icon::after {
		left: 0;
		top: -60px;
		right: 0;
		margin: auto;
	}
	#prefectures #voice .voice-title {
		height: 158px;
	}
	#prefectures #voice .voice-content {
		flex-direction: column;
		width: 92%;
		margin: 0 auto 30px;
	}
	#prefectures #voice .col-l {
		width: 100%;
		padding: 8px 20px;
	}
	#prefectures #voice .voicelist-item__title {
		font-size: 14px;
	}
	#prefectures #voice .voicelist-item__head .title {
		width: 53%;
	}
	#prefectures #voice .voicelist-item-img {
		width: 98px;
		height: 98px;
		margin: 20px;
	}
	#prefectures #voice .voicelist-item-img img {
		width: 103px;
		left: -2px;
	}
	#prefectures #voice .col-r {
		width: 100%;
		border-radius: 0 0 16px 16px;
	}
	#prefectures #voice .profile {
		white-space: nowrap;
	}
}
/* ====================================================================
 * #wheretogo
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #wheretogo {
	position: relative;
	padding-top: 112px;
	background: center top 25px / 510px no-repeat url(../../assets/img/special/prefectures/ranking-bg-gray.png) #fffcf9;
}
#prefectures #wheretogo .desc {
	padding-bottom: 54px;
}
#prefectures #wheretogo .desc::before {
	top: -48px;
	bottom: auto;
	background: bottom / contain no-repeat url(../../assets/img/special/prefectures/wheretogo-ttl-illu.png);
	width: 960px;
}
#prefectures #wheretogo .map-icon::before {
	left: -13px;
	top: 20px;
}
#prefectures #wheretogo .map-icon::after {
	top: 17px;
	left: -8px;
}
#prefectures #wheretogo .desc span {
	color: var(--green);
}
#prefectures #wheretogo .wheretogo-content {
	position: relative;
	background: white;
	border: 1px solid var(--gray3);
	border-radius: 16px;
	width: 900px;
	margin: 0 auto;
}
#prefectures #wheretogo .wheretogo-content h3 {
	padding: 30px;
	text-align: center;
	background: white;
	border-radius: 16px 16px 0 0;
}
#prefectures #wheretogo .wheretogo-content .text {
	background-color: var(--green2);
	-webkit-mask: var(--mask);
	mask: var(--mask);
	padding: 56px 40px 60px;
}

#prefectures #wheretogo .wheretogo-content::before,
#prefectures #wheretogo .wheretogo-content::after {
	content: '';
	position: absolute;
	width: 458px;
	height: 214px;
	background: no-repeat url(../../assets/img/special/prefectures/wheretogo-illust01.png);
	bottom: -172px;
	left: -260px;
	z-index: 1;
}
#prefectures #wheretogo .wheretogo-content::after {
	width: 72px;
	height: 93px;
	background: no-repeat url(../../assets/img/special/prefectures/wheretogo-illust02.png);
	left: auto;
	right: 45px;
	bottom: -60px;
}

#prefectures #wheretogo .wheretogo-content .text p {
	padding-bottom: 10px;
}
#prefectures #wheretogo .wheretogo-content h4 {
	margin-bottom: 10px;
	padding-top: 20px;
	width: fit-content;
	font-weight: bold;
	border-bottom: 3px solid var(--green);
}
#prefectures #wheretogo .wheretogo-content .text strong {
	color: #dd2713;
	background: linear-gradient(transparent 20%, var(--yellow) 80%);
}
#prefectures #wheretogo .areas {
	margin-top: 115px;
}
#prefectures #wheretogo .areas a {
	display: block;
	padding: 20px;
}
#prefectures #wheretogo .areas ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	justify-content: flex-start;
	width: 830px;
	margin-top: 28px;
}
#prefectures #wheretogo .areas ul li {
	position: relative;
	font-size: 20px;
	width: 260px;
	text-align: center;
	line-height: 1.4;
	background: center bottom/ contain no-repeat url(../../assets/img/special/prefectures/areas-li-bg.png) var(--yellow);
	padding: 6px 0;
	border-radius: 16px;
	border: 2px solid #ffdf8b;
	margin: 0 16px 16px 0;
}

#prefectures #wheretogo .areas ul li:first-of-type::after,
#prefectures #wheretogo .areas ul li:nth-of-type(3)::after,
#prefectures #wheretogo .areas ul li:last-of-type::after {
	content: '';
	position: absolute;
	width: 78px;
	height: 39px;
	background: no-repeat url(../../assets/img/special/prefectures/area-deco.png);
	top: -5px;
	left: -10px;
}
#prefectures #wheretogo .areas ul li:nth-of-type(3)::after {
	left: auto;
	right: -10px;
	transform: rotateZ(41deg);
}
#prefectures #wheretogo .areas ul li:last-of-type::after {
	width: 86px;
	background: no-repeat url(../../assets/img/special/prefectures/area-deco-car.png);
	top: auto;
	bottom: -20px;
	left: auto;
	right: -20px;
}
#prefectures #wheretogo .areas li span {
	color: var(--green);
	font-weight: bold;
}
#prefectures #wheretogo .contain-step {
	position: relative;
}
@media only screen and (min-width: 639px) {
	#prefectures #wheretogo .contain-step::before {
		position: absolute;
		content: '';
		top: -28px;
		left: 500px;
		height: 69px;
		background: url(../../assets/img/special/prefectures/steps.svg) no-repeat;
		animation: stepsline 4s steps(5) infinite;
		-webkit-animation: stepsline 4s steps(5) infinite;
	}
}
@keyframes stepsline {
	0% {
		width: 0;
	}
	10% {
		width: 51px;
	}
	100% {
		width: 306px;
	}
}
@media only screen and (max-width: 639px) {
	#prefectures #wheretogo {
		background-size: 83vw;
		padding-bottom: 66px;
	}
	#prefectures #wheretogo .desc {
		padding-bottom: 34px;
	}
	#prefectures #wheretogo .desc::before {
		width: 90%;
		top: -110px;
	}
	#prefectures #wheretogo .map-icon::before,
	#prefectures #wheretogo .map-icon::after {
		display: none;
	}
	#prefectures #wheretogo .wheretogo-content {
		width: 92%;
	}
	#prefectures #wheretogo .wheretogo-content::after {
		width: 14vw;
		left: auto;
		right: -7px;
		top: 74px;
		bottom: auto;
		background-size: 14vw;
	}
	#prefectures #wheretogo .wheretogo-content::before {
		width: 114vw;
		background-size: contain;
		bottom: -168px;
		left: -93px;
	}
	#prefectures #wheretogo .areas {
		margin-top: 184px;
	}
	#prefectures #wheretogo .areas ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(46%, max-content));
		grid-gap: 3%;
		justify-content: center;
		width: 100%;
		margin-top: 5px;
		padding: initial;
	}
	#prefectures #wheretogo .areas ul li {
		width: 100%;
		margin: 0;
	}
}

/* ====================================================================
 *  #useful-content
 *
 *
 * -------------------------------------------------------------------- */
#prefectures #useful-content {
	background: var(--gray2);
}

#prefectures #useful-content .desc {
	padding-bottom: 46px;
}
#prefectures #useful-content ul {
	width: 990px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin: 0 auto;
	height: 362px;
}
#prefectures #useful-content li {
	background: white;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 188px;
}
#prefectures #useful-content li a {
	text-decoration: none;
}
#prefectures #useful-content li span {
	position: absolute;
	padding: 0 10px;
	background: var(--green);
	color: white;
	border-radius: 4px;
	top: -11px;
	width: fit-content;
	white-space: nowrap;
	left: 14px;
}
#prefectures #useful-content ul .image {
	height: 117px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: var(--green2);
}
#prefectures #useful-content ul .text {
	padding: 18px;
}
#prefectures #useful-content ul .text h3 {
	font-size: 18px;
}
@media only screen and (max-width: 639px) {
	#prefectures #useful-content {
		padding-top: 40px;
	}
	#prefectures #useful-content .desc {
		padding: 0 0 23px;
	}
	#prefectures #useful-content ul {
		width: 100%;
		flex-direction: column;
	}
	#prefectures #useful-content li {
		width: 92%;
		margin: 0 auto 32px;
	}
	#prefectures #useful-content li a {
		display: flex;
	}
	#prefectures #useful-content ul {
		height: auto;
	}
	#prefectures #useful-content ul .image {
		width: 40%;
		height: auto;
	}
	#prefectures #useful-content ul .text {
		width: 60%;
	}
	#prefectures #useful-content ul .text h3 {
		font-size: 17px;
	}
	#prefectures #useful-content ul .text p {
		font-size: 13px;
	}
}
/* ====================================================================
 * .find
 *
 *
 * -------------------------------------------------------------------- */
#prefectures .find {
	width: 1000px;
	margin: 0 auto;
	background: #fffcf9;
}
#prefectures .find h2 {
	margin: inherit;
	text-align: left;
}
#prefectures .find .wrapper {
	width: 1000px;
	margin: 0 auto;
}
@media only screen and (max-width: 639px) {
	#prefectures .find,
	#prefectures .find .wrapper {
		width: 100%;
	}
	#prefectures .find {
		padding-top: 14px;
	}
	#prefectures .find .wrapper {
		padding: 0 3%;
	}
	#prefectures .find .wrapper > div .css-11eanip-BackgroundBoxStyle {
		padding: 8px 18px;
	}
	#prefectures .find h2 {
		padding-bottom: 0;
	}
	#prefectures .find h2 span {
		font-size: 16px;
		margin-bottom: 4px;
	}
}

#prefectures .head__item {
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 234px;
	align-items: center;
	margin: 0 auto;
}
#prefectures .head__item span,
#prefectures .head__item p {
	font-size: 18px;
	font-weight: bold;
}
#prefectures .head__item strong {
	color: #19cecd;
}
#prefectures .head-item-no {
	position: relative;
}
#prefectures .head-item-no::before,
.flow__item .flow__item__wrap::after {
	content: '';
	width: 12px;
	height: 12px;
	border: 0px;
	border-top: solid 3px #19cecd;
	border-right: solid 3px #19cecd;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: -54px;
	margin-top: -6px;
}
.flow__item .flow__item__wrap::after {
	top: 50%;
	right: auto;
	left: -42px;
	margin-top: -6px;
	transform: rotate(135deg);
}
.flow__item ul li:last-of-type .flow__item__wrap::after {
	border-radius: 300px;
	background-color: #19cecd;
}
#prefectures .head__item:last-of-type .head-item-no::before {
	display: none;
}
.flow__item ul li {
	display: flex;
	flex-direction: column;
}
.flow__item .flow__item__wrap {
	display: flex;
	position: relative;
	background: white;
	border-radius: 16px;
	margin-left: 56px;
	height: 204px;
	align-items: center;
}
.flow__item .flow__item__wrap::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 100%;
	border: 0px;
	border-radius: 30px;
	background-color: #94efea;
	left: -40px;
}
.flow__item ul li:last-of-type .flow__item__wrap::before {
	height: 50%;
	top: 0;
}
.flow__item-text {
	flex: 50%;
	padding: 0 64px;
}
.flow__item-illust {
	position: relative;
	height: 233px;
	bottom: 14px;
}
#prefectures .flow__item .head-item-no {
	color: #060000;
	padding-right: 44px;
}
#prefectures .flow__item .head-item-no::after {
	right: 7px;
	margin-top: -13px;
}
#prefectures .flow__item .head-item-no::before {
	display: none;
}

#prefectures .flow__item-title {
	margin: 55px 0 20px;
	font-size: 25px;
}
@media only screen and (max-width: 639px) {
	#prefectures .cv01 {
		margin-top: 0;
	}
	#prefectures .flow {
		background: #ffe4e3;
		padding-bottom: 30px;
	}
	#prefectures .salary-graph {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		padding: 15px;
		width: 90%;
		border-radius: 16px;
	}
	.flow__head {
		flex-wrap: wrap;
	}
	#prefectures .head__item {
		height: 204px;
		width: 30%;
	}
	.flow__item .flow__item__wrap {
		height: 316px;
		background: none;
		padding: 0 14px 0 0;
	}
	.flow__item .flow__item__wrap {
		flex-direction: column-reverse;
	}
	#prefectures .head__item p {
		width: 120px;
		font-size: 1.2rem;
		background: #f5f6f9;
		padding: 10px;
		border-radius: 0 0 8px 8px;
		text-align: center;
		letter-spacing: -0.5px;
	}
	#prefectures .head__item img {
		padding: 10px;
		width: 120px;
		background: #f5f6f9;
		border-radius: 8px 8px 0 0;
	}
	#prefectures .service-cv {
		padding: 14px;
	}
	.flow__item-illust {
		width: 90%;
		bottom: 17px;
	}
	.flow__item-text {
		position: relative;
		padding: 0;
	}
	.flow__item-text::before {
		position: absolute;
		content: '';
		width: 98%;
		height: 155px;
		background-color: #d3faf8;
		border-radius: 16px;
		top: -173px;
	}
	#prefectures .flow__item-title {
		font-size: 20px;
		padding-left: 14px;
		margin-top: 14px;
	}
	.flow .highlighter {
		color: #19cecd;
	}
	#prefectures .head-item-no::before {
		right: -29px;
	}
	#prefectures .salary-graph div {
		width: 100%;
	}
	.salary-graph img {
		margin-top: 0;
	}
}
@media only screen and (max-width: 412px) {
	.flow__item-illust {
		bottom: 12px;
	}
}
@media only screen and (max-width: 376px) {
	.flow__item-illust {
		bottom: 7px;
	}
}
